@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* From Public Directory */
@font-face {
  font-family: 'Montserrat';
  src: url('/Montserrat-Regular.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

body {
  background-color: #F3F3F3;
}

body * {
  transition: all 0.2s ease;
  font-weight: 400;
  font-style: normal;
}

.markdown p {
  margin-top: 32px;
  font-size: 16px;
  line-height: 1.5;
  color: #4C4D48;
}

.markdown p strong {
  font-weight: 700;
}

.markdown h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 40px;
  color: #404040;
}

.markdown h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 40px;
  color: #404040;
}

.markdown h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 40px;
  color: #404040;
}

.markdown h4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 40px;
  color: #404040;
}

.markdown h5 {
  font-family: 'Libre Baskerville', serif;
  font-size: 0.875rem;
  font-weight: 700;
  margin-top: 40px;
  color: #404040;
}

.markdown h6 {
  font-family: 'Libre Baskerville', serif;
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 40px;
  color: #404040;
}

.markdown a {
  text-decoration: underline !important;
}

.markdown ul {
  list-style: disc;
  margin-left: 32px;
  margin-top: 24px;
}

.markdown ol {
  list-style: decimal;
  margin-left: 32px;
  margin-top: 24px;
}

.markdown blockquote {
  border-left: 4px solid #4C4D48;
  padding-left: 16px;
  margin-left: 0;
  background-color: #e0e0e0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.markdown blockquote p {
  margin-top: 0;
  font-style: italic;
}